## Part 1

In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.DataFrame([[0.5, 1],[np.NaN, 2], [0.2,]])

In [22]:
df

     0    1
0  0.5  1.0
1  NaN  2.0
2  0.2  NaN

### Questions
* Replace Nan in both columns with
* Zero
* max
* min
* mean
* median

In [68]:
max = df.max()
min = df.min()
df1 = df.replace([np.NaN],0)

In [90]:
(df1)

     0    1
0  0.5  1.0
1  0.0  2.0
2  0.2  0.0

In [99]:
max = 0
items = df.max(0)
print(items)
for i in range(len(df.max(0))):
    if(items[i]>max):
        max = items[i]
df2 = df.replace(np.NaN,max)

0    0.5
1    2.0
dtype: float64

In [100]:
(df2)

     0    1
0  0.5  1.0
1  2.0  2.0
2  0.2  2.0

In [105]:
items = df.min(0)
min = items[0]
for i in range(len(df.min(0))):
    if(items[i]<min):
        min = items[i]
df3 = df.replace(np.NaN,min)

In [107]:
df3

     0    1
0  0.5  1.0
1  0.2  2.0
2  0.2  0.2

In [129]:
counter = 0
mean = 0
for i in range(len(df)-1):
    items = df[i]
    for j in range(len(items)):
        if(items[j]!='nan'):
            counter += 1
            mean += items[i]
        
mean = mean/counter
df4 = df.replace(np.NaN,mean)

In [130]:
df4

      0     1
0  0.50  1.00
1  1.25  2.00
2  0.20  1.25

In [132]:
median = df.median()
print(median)

0    0.35
1    1.50
dtype: float64

In [147]:
df5 = df
for i in range(len(df)-1):
    df5 = df5.replace({i:{np.NaN:median[i]}})

In [148]:
df5

      0    1
0  0.50  1.0
1  0.35  2.0
2  0.20  1.5

## Part 2

In [ ]:
from sklearn.datasets import load_breast_cancer