## Part 1

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame([[0.5, 1],[np.NaN, 2], [0.2,]])

In [5]:
df

     0    1
0  0.5  1.0
1  NaN  2.0
2  0.2  NaN

### Questions
* Replace Nan in both columns with
* Zero
* max
* min
* mean
* median

## Part 2

In [7]:
from sklearn.datasets import load_breast_cancer